@model Roboworld.WebApp.Models.SimpleUploadViewModel
@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="@Url.Action("Index", "Home")" enctype="multipart/form-data">
    UPLOAD FILE
    <br />
    <input type="file" name="@Html.NameFor(o=> o.File)" />
    <br />
    <input type="submit" value="Submit the form" />
</form>
